<div class="container mt-4">
  <h2>Gerenciamento de Planos</h2>
  <button mat-raised-button color="primary" (click)="openPlanDialog()">Adicionar Plano</button>
  <app-shared-table 
    [data]="plans" 
    [columns]="planColumns" 
    (edit)="editPlan($event)" 
    (delete)="deletePlan($event)">
  </app-shared-table>
</div>

<ng-template #planDialog>
  <h2 mat-dialog-title>{{ selectedPlan ? 'Editar Plano' : 'Adicionar Plano' }}</h2>
  <div mat-dialog-content>
    <app-shared-form 
      [formGroup]="planForm" 
      [fields]="planFields" 
      submitLabel="{{ selectedPlan ? 'Atualizar' : 'Salvar' }}"
      (submitForm)="savePlan($event)">
    </app-shared-form>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
  </div>
</ng-template>